*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    
}
#fundo{
    position: absolute;
    height: 100%;
    width: 100%;
}
/*navegação*/
nav{
    position: relative;
    height: 100px;
    display:inline-flexbox;
}

